@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Harabara';
  src: url('./fonts/Harabara.ttf') format('truetype');
}
.Roboto{
  font-family: 'Roboto', sans-serif;
}
.Inter{
  font-family: 'Inter', sans-serif;
}
body{
  overflow-x: hidden;
  color: white;
}

.Harabara{
  font-family: 'Harabara', sans-serif;
}

/* Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

.navbar.show {
  top: 0;
}

.navbar.hide {
  top: -75px;
}
